// IDE
.idea
.DS_Store

// VM
Vagrantfile
.vagrant

// Bower
bower_components

// Npm
*/node_modules/*
npm-debug.log

/*Erlang dependencies*/
server/relx
server/ebin/
server/_rel/
server/deps/
server/.erlang.mk/
server/erlang.mk
server/earth_defender.d
server/websocket.d

// LaTeX
documentation/*.aux
documentation/*.pdf
documentation/*.log
documentation/*.synctex.gz

