body {
	width: 100%;
	height: 100%;
	margin: 0;
}

canvas {
	width: 100%;
	height: 100%;
}

#stats {
	position : fixed;
	z-index: 1000;
	right: 245px;
	top: 0;
}

#panel {
	width: 100%;
	height: 48px;
	position : fixed;
	top: 0;
	left: 0;
	background-color: #111133;
}

#panel #logo {
	margin-left : 20px;
	color: #fff;
	font-family: "Courier New", Courier, monospace;
	font-size: 27px;
	line-height: 48px;
	height: 48px;
	float: left;
	text-transform: uppercase;
	font-style: italic;
}

#panel #life {
	float: left;
	margin-left : 40px;
	color: #fff;
	font-family: "Courier New", Courier, monospace;
	font-size: 15px;
	line-height: 48px;
	height: 48px;
	text-transform: capitalize;
	font-style: italic;
}

#gamePlay {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 100px;
	margin-left: -200px;
	margin-top: -50px;
	background-color: #1c1433;
	color: #fff;
	padding: 0;
}

#gamePlay button {
	display : inline-block;
	background-color: #1c1433;
	width: 200px;
	padding: 0;
	margin: 0;
	border: none;
	font-size: 20px;
	line-height: 100px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-family: monospace;
}

#gamePlay button:hover {
	background: #6e7be6;
}

body .dg.ac {
	right: 0;
	z-index: 1000;
}

body .dg.a {
	margin: 0;
}
